.imageLanding {
  background-image: url('https://lh6.googleusercontent.com/PBSVlaQjHxRSrXHvBDkfIBeYxqDB2s9U7pdw2c1MXngyd4QnqvX5_zG5TqARkH0g-tEFAsKDVqYp2JQ2Bt3i=w1919-h1080-rw');
  background-repeat: no-repeat;
  background-size: auto;
}

.landing-control {
  padding-top: 80px;
  padding-bottom: 250px;
}
.landing-control h3 {
  font-size: 64px;
  color: white;
}
.buttonGradient {
  padding-left: 64px;
  padding-right: 64px;
  font-size: 32px;
}
.buttonLogin {
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  color: black;
}
.buttonLogin p {
  margin-left: 5px;
  display: inline;
}
