html {
  scroll-behavior: smooth;
}
.imageLanding {
  background-image: url('https://lh6.googleusercontent.com/PBSVlaQjHxRSrXHvBDkfIBeYxqDB2s9U7pdw2c1MXngyd4QnqvX5_zG5TqARkH0g-tEFAsKDVqYp2JQ2Bt3i=w1919-h1080-rw');
  background-repeat: no-repeat;
  background-size: auto;
}
.imageLanding2 {
  background-image: url('https://lh5.googleusercontent.com/MLbrqdIwkpmrIiKboK05uLSdVJDqOh6HqZu1ZezmnVZ3zkLdIyEl9R6qB9XmGs-ekDQWCtumhpI4jZBXULWy=w1468-h912-rw');
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-control {
  padding-top: 80px;
  padding-bottom: 150px;
}
.landing-control h3 {
  font-size: 64px;
  color: white;
}
.buttonGradient {
  padding-left: 64px;
  padding-right: 64px;
  font-size: 32px;
}
.buttonLogin {
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  color: black;
}
.buttonLogin p {
  margin-left: 5px;
  display: inline;
}

.sectionLanding {
  background-color: #e7f2f6;
}
.sectionLandingAbajo {
  background-color: #e7f2f6;
  margin-top: 80px;
}

.sectionCombix {
  margin-top: 80px;
  background: rgb(19, 86, 114);
  background: linear-gradient(
    90deg,
    rgba(19, 86, 114, 1) 0%,
    rgba(14, 23, 46, 1) 100%
  );
  padding-top: 100px;
  padding-bottom: 100px;
}
.sectionCombix h2 {
  color: white;
  font-size: 64px;
}
.ultimaseccion {
  margin-top: 80px;
  padding: 60px;
}
.absolute {
  position: absolute;
  top: -5%;
  width: 75%;
}
