@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1,
h2,
h4 {
  font-family: 'Roboto Slab', serif;
}

html {
  scroll-behavior: smooth;
}
.imageLanding {
  background-image: url('./resources/home_Fluid2.png');
  background-repeat: no-repeat;
  background-size: auto;
}
.imageLanding2 {
  background-image: url('./resources/patagoniaBottom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-control {
  padding-top: 80px;
  padding-bottom: 150px;
}
.landing-control h3 {
  font-size: 64px;
  color: white;
}
.buttonGradient {
  padding-left: 64px;
  padding-right: 64px;
  font-size: 32px;
}
.buttonLogin {
  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  color: black;
}
.buttonLogin p {
  margin-left: 5px;
  display: inline;
}

.sectionLanding {
  background-color: #e7f2f6;
}
.sectionLandingAbajo {
  background-color: #e7f2f6;
  margin-top: 80px;
}

.sectionCombix {
  margin-top: 80px;
  background: rgb(19, 86, 114);
  background: linear-gradient(
    90deg,
    rgba(19, 86, 114, 1) 0%,
    rgba(14, 23, 46, 1) 100%
  );
  padding-top: 100px;
  padding-bottom: 100px;
}
.sectionCombix h2 {
  color: white;
  font-size: 64px;
}
.ultimaseccion {
  margin-top: 80px;
  padding: 60px;
}
.absolute {
  position: absolute;
  top: -5%;
  width: 75%;
}
.login-padre {
  display: flex;
  justify-content: center;
}
.login-hijo {
  width: 40%;
  padding: 32px;
  margin-bottom: 230px;
}
.btn-login {
  transition: 1s;
  background: rgb(19, 86, 114);
  background: linear-gradient(
    90deg,
    rgba(19, 86, 114, 1) 0%,
    rgba(14, 23, 46, 1) 100%
  );

  color: white;
  width: 100%;
  font-size: 24px;
}
.btn-login:hover {
  color: antiquewhite;
  width: 100%;
  font-size: 24px;
}
.titulo-login {
  font-size: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}
.image-login {
  background-image: url('./resources/loginbg-fluid.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.navegacion-admin {
  background-color: #f6f6f6;
  padding: 5px;
  border: 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.navegacion-admin-list {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 3px;
  margin-right: 3px;
  padding-right: 15px;
  padding-left: 10px;
  border: 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.navegacion-admin-list a {
  color: #357185;
  font-size: 16px;
}

.display-admin-list {
  margin: 0;
  width: 100%;
  padding: 0.5rem 1rem;
}

.displayElement-admin-list {
  width: 100%;
  margin: 0 0 1rem 0;
  border: 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.viajes-admin {
  background-color: #f6f6f6;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.db-element {
  margin-bottom: 1rem;

  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.db-element-header {
  background: white;
  padding: 0.5rem 1rem;
}

.field-admin {
  display: flex;
  margin: 0.5rem 0;
}

.field-label {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  font-weight: 500;
  float: left;
}

.field-display {
  margin: 0 0.5rem;
  padding: 0.5rem;
  width: 100%;
  background-color: #f6f6f6;
  float: left;
  color: rgb(19, 86, 114);
}

.field-btn {
  display: block;
  border: 0;
  width: 70%;
  color: white;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.edit-btn {
  background: #7a76e5;
}

.delete-btn {
  background: #f35b5b;
}

.box {
  position: relative;
}
.box:before {
  content: '';

  display: block;
}
.square {
  padding-top: 70%;
}
.content {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0;
  right: 0;
}
.db-element-header-variant {
  background: #f08e7e;
  padding: 0.5rem 1rem;
}

.bg-image-pasaje {
  background-image: url('./resources/bg-fluid-buscar.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.sombra-buscar {
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.29);
}

.gradient-featured {
  background: rgb(218, 231, 248);
  background: linear-gradient(
    175deg,
    rgba(218, 231, 248, 1) 0%,
    rgba(239, 242, 223, 1) 100%
  );
}

.gradient-gold {
  background: rgb(239, 247, 170);
  background: linear-gradient(
    176deg,
    rgba(239, 247, 170, 1) 0%,
    rgba(189, 178, 17, 1) 100%
  );
}

.gradient-supercomodas {
  background: rgb(203, 210, 160);
  background: linear-gradient(
    135deg,
    rgba(203, 210, 160, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.formCovid {
  background-color: #f6f6f6;

  color: #2d525d;
}
.elementoFormCovid {
  border-bottom: 1px solid blue;
}
.resetP {
  margin-bottom: 0px;
}
.pCuestionarioCovid {
  margin: 0.15rem;
}
